@* Implement using statements and DI here... *@

@{
    ViewData["Title"] = "Access Configuration from a View";
}

<style>
    body {
        /* uncomment the line below and load the value from the config file using hierarchy */
        /* background-color: [load config value here] */
    }
</style>


<div>
    <p>The message from the config file is displayed below.</p>
    <br />
    @*<p>Display config value here...</p>*@
</div>
